.radio{
    padding:1.2rem;
    background-color:brown;
    margin:1.2rem;
    font-size:1.2rem;
    color:white;

}
.question{

        display:block;
        background-color:brown;
}

.button{
    display:block;
    width:20%;
    padding:0.5rem 1.2rem;
    margin:0 auto;
    border:none;


}

h2{
    margin:1.2rem;
}

.outputHere{
    margin:1.2rem;
}

.scoreHere{
    display:inline-block
}