@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --primary-color:
  #065F46
  ;
  font-family: "Lato" sans-serif;
}
body{
    font-family:"Lato",sans-serif;
}
.main-header {
  text-align: center;
  margin-top: 1.3rem;
  color:var(--primary-color)
}
.main-div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:1.2rem;
}
.main-div label,
.result {
  width: 100%;
  text-align: center;
  margin: 1.2rem auto;
  font-weight: bold;
  color:var(--primary-color);
  font-size:1.2rem;
}
.main-div input{
    padding:0.5rem 1.2rem;
    width:30%;
    border:none;
    border-bottom:2px solid var(--primary-color);
    outline:none;
    color:var(--primary-color);
    font-weight:bold;

}
.submit {
  margin: 1.2rem auto;
  width: 10rem;
  padding: 0.3rem 1.3rem;
  text-align: center;
  background-color: var(--primary-color);
  border-radius:20px;
  color:white;
  font-size:1.2rem;
}